.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.2s ease,
    border 0.2s ease;
  text-align: center;
  background-color: var(--ifm-color-primary-darkest);
  color: white;
}

.button:hover {
  background-color: var(--ifm-color-primary-darker);
}

.button:focus {
  background-color: var(--ifm-color-primary-dark);
}

/* Info */
.button.is-info {
  background-color: var(--ifm-color-info-darkest);
}
.button.is-info:hover {
  background-color: var(--ifm-color-info-darker);
}
.button.is-info:focus {
  background-color: var(--ifm-color-info-dark);
}

/* Warning */
.button.is-warning {
  background-color: var(--ifm-color-warning-darkest);
}
.button.is-warning:hover {
  background-color: var(--ifm-color-warning-darker);
}
.button.is-warning:focus {
  background-color: var(--ifm-color-warning-dark);
}

/* Danger */
.button.is-danger {
  background-color: var(--ifm-color-danger-darkest);
}
.button.is-danger:hover {
  background-color: var(--ifm-color-danger-darker);
}
.button.is-danger:focus {
  background-color: var(--ifm-color-danger-dark);
}
